@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: "Showcard Gothic";
  src: url("../assets/showcardGothicRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* @font-face {
  font-family: "Montserrat";
  src: url("../assets/montserratRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
} */

/* ***** TABLE OF CONTENTS *********************************** */

/* ROOT/SHARED/GLOBAL */
/* BTN CONTROLS */
/* HEADER */
/* --> TITLE */
/* --> GIF */
/* MESSAGES */
/* MAIN BTN CONTAINER */
/* ALL THE VARIOUS BOARDS/ZONES/GRIDS */
/* --> FULL-BOARDS */
/* ----> PLAYER NUMBER TEXT */
/* ----> PLACE SHIPS, DEPLOYMENT ZONE & TARGET ZONE */
/* SPECIAL HOVER EFFECTS (for deployment and target zones) */
/* MEDIA QUERIES */

/* NOTE: USE <CTRL-F Key Item>, to find CSS that maintains the grids */

/* ***** TABLE OF CONTENTS *********************************** */

/* ROOT/SHARED/GLOBAL */
:root {
  /* Colors */
  --circle-red: #bd4949;
  --wrapper-red: #8b1818;
  --wrapper-pink: #e57676;
  --explosion-gold: #edbd58;
  --mug-blue: #898d9b;
  --shadow-blue: #666a77;
  --hoodie-blue: #484662;
   --hoodie-blue-trans: #4846627c;
  --desk-brown: #4d4a47;
   --standard-black: #0b0806;
  --standard-black-trans: #0b080600;
  --standard-white: #d1c5b6;
  --computer-grey: #808080;
  --muffin-brown: #563f3f;
  --nut-brown: #a38686;

  --box-shadow: 0 5px 10px var(--standard-black);
  --background-main: linear-gradient(
    var(--linear-gradient-deg),
    var(--standard-black),
    var(--hoodie-blue)
  );

  --background-btn-hover: linear-gradient(
    var(--linear-gradient-deg),
    var(--standard-black),
    var(--circle-red)
  );

    --background-header: linear-gradient(
    var(--linear-gradient-deg),
    var(--standard-black),
    var(--desk-brown)
  );

  --glow: 0 0 30px var(--standard-white), 0 0 50px var(--explosion-gold);

  --font-title: "Showcard Gothic", sans-serif;
  --font-text: "Montserrat", sans-serif;
  --linear-gradient-deg: 5deg;
  --scale-big: 1.125;
  --scale-small: 0.9;

  /* Initial Sizes */
  --font-size-master: 14px;
  --line-height-master: 1.25;
  --font-size-title: 2rem;
  --font-size-sub-title: 1.75rem;
  --font-size-normal: 1rem;
  --width-master: 90vw;
  --margin-master: 0.25rem;
  --padding-master: 0.25rem;
  --gap-master: 0.5rem;
  --border-radius-master: 2rem;

  /* --content-size: 22rem; */
  --content-size: 23rem;
  --img-full-add-on: 4rem;
  --img-title: 10rem;
  --img-btn: 7rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* CSS Reset for h1 and h2 */
h1,
h2,
h3,
p {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  font-size: inherit; /* Inherit font size from parent */
  font-weight: inherit; /* Inherit font weight from parent */
  line-height: inherit; /* Inherit line height from parent */
  text-align: inherit; /* Inherit text alignment from parent */
  color: inherit; /* Inherit text color from parent */
}

html,
body {
  /* height: 100%;
  width: 100%; */
  /* height: 100vh;
  width: 100vw; */
  /* Below, reduces base font size for mobile, a convenient way to backdoor size changes easily, reduce for mobile views */
  background-color: var(--standard-black);
  font-size: var(--font-size-master);
  /* Improves text readability for mobile */
  line-height: var(--line-height-master);
}

body {}


/* HEADER */
header {
  height: fit-content;
  /* width: 100%; */
  /* width: 100vw; */
  /* width: fit-content; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */

  margin-bottom: 1.5rem;
  /* padding: var(--padding-master); */
        border-top: var(--circle-red) solid 0.5rem;
              border-bottom: var(--circle-red) solid 0.5rem;
}


#header-container {
  height: fit-content;
  /* width: 100vw; */
  width: fit-content;
    /* background-color: #898d9b; */
    /* width: (--width-master); */
  /* display: flex; */

  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  
}

#title-text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* background-color: var(--explosion-gold); */
  /* color: var(--circle-red); */
    color: var(--mug-blue);
  font-family: var(--font-title);
  font-size: var(--font-size-title);
  margin: calc(var(--margin-master) + .25rem);
  /* padding: 1rem; */
  /* text-align: center; */

  
}


#header-content-container {
  /* height: fit-content;
  width: fit-content; */
min-height: 28rem;
max-width: 28rem;
  /* max-height: 33rem;
 max-width: 28rem; */
  /* flex-grow: 1; */
  display: flex;
flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: var(--margin-master); */


    /* background: var(--standard-white); */
        /* background: var(--background-main); */
          background-color: var(--standard-black);

       /* border: var(--standard-white) solid 0.5rem; */
border-radius: var(--border-radius-master);
   margin: var(--margin-master);
padding: var(--padding-master);

}

#content-img-big-div, #content-text-title-div  {
  /* height: var(--content-size);
  width: var(--content-size); */
    /* width: calc(var(--content-size) + var(--img-full-add-on)); */
  /* flex-grow: 1; */
  background: none;
  /* background-color: green; */
  margin-top: var(--margin-master);

  /* padding: var(--padding-master); */
}

#content-img-big-div {
 display: flex;
   flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* #content-text-title-div {
  height: 21rem;
  width: 21rem;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border-radius: 2rem;
  background: var(--background-main);
  margin: 0 1rem 1rem 1rem;
  padding: 1rem;
} */

.img-big {
  height: auto;
  /* width: calc(var(--content-size) + var(--img-full-add-on)); */
  width: var(--content-size);
  /* flex-grow: 1; */
  transform: translateX(0.275rem) translateY(-0.5rem);
}

/* Starts as display: none */
#content-text-title-div {
  /* height: calc(var(--content-size) + var(--img-full-add-on));
    width: calc(var(--content-size) + var(--img-full-add-on)); */
  height: var(--content-size);
    width: var(--content-size);
  
  display: none;

    flex-direction: column;
  align-items: center;
   justify-content: start;
  /* justify-content: center; */
    /* gap: var(--gap-master); */
  /* background: var(--background-main); */
  background-color: var(--standard-black);
    background: var(--background-main);
  border-radius: 50%;

}

#content-title-div {
  height: fit-content;
  width: fit-content;
  display: flex;
  /* flex-grow: 1; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: var(--gap-master); */
    /* background: var(--background-main); */
      /* border: var(--standard-white) solid 0.5rem; */
    /* border-radius: 50%; */
  /* margin-bottom: var(--margin-master); */
  /* margin: var(--margin-master);
  padding: var(--padding-master); */
}

#content-title {
  color: var(--standard-white);
  font-family: var(--font-title);
  font-size: var(--font-size-sub-title);
  /* margin-top: var(--margin-master); */
}

#content-title-img {
  height: auto;
  width: var(--img-title);
}

#content-text-div,
#contact-info-div {
  /* margin: auto; */
  /* height: fit-content;
  width: fit-content; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* flex-grow: 1; */
  gap: var(--gap-master);
       /* background: var(--background-header);  */
       
       /* background-color: var(--circle-red); */
      /* border-radius: var(--border-radius-master); */

            /* margin: 1rem;
     padding: 1rem; */
}

#content-text-div {

  /* height: fit-content;
  width: fit-content; */
     /* border: var(--standard-white) solid 0.5rem; */
     /* background: var(--background-main);  */
     /* border-radius: var(--border-radius-master); */
     /* margin: 1rem;*/
     /* margin: 0 3rem 2.25rem 3.25rem; */
     padding: var(--padding-master);
}

#contact-info-div {
  /* gap: var(--padding-master); */

}



#content-text {
  height: fit-content;
  width: fit-content;
  /* overflow: hidden; */
  /* padding: 0 1rem 0 1rem; */
}

.normal-text {
  color: var(--standard-white);
  font-family: var(--font-text);
  font-size: var(--font-size-normal);
}

#header-btn-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
    /* gap: var(--gap-master); */
        gap: 1rem;
    /* margin: var(--margin-master); */
    /* margin-right: 1rem; */
      /* padding: var(--padding-master); */
      /* background-color: var(--circle-red);
      border-radius: var(--border-radius-master); */
    border-top: var(--circle-red) solid 0.5rem;
    border-bottom: var(--circle-red) solid 0.5rem;
}

button {
  height: fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--explosion-gold);
  /* border: var(--hoodie-blue) solid 0.5rem; */
   border: var(--standard-black) solid 0.5rem;
  border-radius: 50%;
  font-family: var(--font-title);
    padding: var(--padding-master);
  transition: transform 0.5s ease;
}

/* Starts as display: none */
#btn-muffin {
  display: none;
}

#btn-mug {

}

#btn-phone {
}

button:hover {
  background: var(--background-btn-hover);
  border-color: var(--explosion-gold);
  transform: scale(var(--scale-big));
}

button:active {
  transform: scale(var(--scale-small));
}

.img-contact {
  height: auto;
  width: 2rem;
  /* margin-bottom: var(--margin-master); */
}

.img-small {
  height: auto;
  width: var(--img-btn);
  margin: var(--margin-master);
}

#img-muffin {
  transition: transform 0.5s ease;
}

#img-mug {
  transform: translateX(0.375rem) translateY(0.05rem);
}

#img-phone {
  transition: transform 0.5s ease;
}

#img-muffin:hover {
  transform: rotate(-15deg);
}

#img-phone:hover {
  transform: rotate(45deg);
}

/* MAIN */
main {

  height: fit-content;
  /* width: 100%; */
  /* width: 100vw; */
  /* width: fit-content; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* margin: var(--margin-master); */
  /* margin-top: 2rem; */
  /* padding: var(--padding-master); */
}

#main-content-container {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
    flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  /* margin: var(--margin-master); */

  /* background: var(--background-main); */
    background: var(--standard-black);
   border-radius: var(--border-radius-master);

}

.card {
/* height: 30rem;
width: 22rem; */
min-height: 28rem;
max-width: 28rem;
display: flex;
flex-grow: 1;
  flex-direction: column;
    /* flex-wrap: wrap; */
  align-items: center;
  justify-content: start;
/* background: var(--hoodie-blue-trans); */
background: var(--background-main);
  /* background: var(--background-btn-hover); */
    border: var(--standard-black) solid 0.5rem;
border-radius: var(--border-radius-master);
/* border-radius: 50%; */
/* color: var(--standard-white); */
margin: var(--margin-master);
padding: var(--padding-master);

  }

  .card-title{
    /* color: var(--explosion-gold); */
        color: var(--explosion-gold);
    font-family: var(--font-title);
    font-size: 1.6rem;
   padding: .25rem;
  }

 .card-screenshot{
    height: 15rem;
    width: 15rem;
  background-color: var(--computer-grey);
    /* border: var(--standard-black) solid 0.5rem; */
    /* border-radius: var(--border-radius-master); */
    border-radius: 1.125rem;
    /* border-radius: 50%; */
       margin: .25rem;
       object-fit: cover;
       /* overflow: hidden; */
    
      }

  .card-blurb {
        height: fit-content;
    width: fit-content;
    flex-grow: 1;
    color: var(--explosion-gold);
    font-family: var(--font-text);
    font-size: 1rem;
           margin: 1rem;
  }

  .card:hover {
      background: var(--background-btn-hover);
  border-color: var(--explosion-gold);
    color: var(--explosion-gold);
      transition: transform 0.5s ease;
  transform: scale(1.05);
  /* animation: shake .5s ease-in-out; */
  }

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


  /* a:visited {
      color: var(--standard-black);
  } */

      a:hover {
      color: var(--standard-white);
        text-shadow: var(--glow);
  }

/* FOOTER */
footer {
}

/* MEDIA QUERIES */
@media (min-width: 400px) {
  :root {
  --line-height-master: 1.5;
    --font-size-title: 2.25rem;
}
}

@media (min-width: 600px) {
  #header-content-container {
        flex-direction: row;
       align-items: center;
       justify-content: center;

  }

  #header-btn-container {
      width: fit-content;
      /* width: 100%; */
    flex-direction: column;
    /* margin-right: 1rem; */
        border: none;
  }

 #header-content-container {
  max-width: 100vw;
 }

 #content-text-title-div {
  align-items: center;
  justify-content: center;
 }

 #content-text-div {
  /* padding: var(--padding-master); */
  padding: 1.5rem;
 }
}


@media (min-width: 800px) {
      :root {
  --font-size-master: 16px;
  --line-height-master: 1.25;
  --font-size-title: 3rem;
  --font-size-sub-title: 2rem;
  --font-size-normal: 1.25rem;
  /* --width-master: 85vw; */
  /* --margin-master: 0.5rem;
  --padding-master: 0.5rem;
  --gap-master: 0.75rem; */
  --content-size: 30rem;
  }
}


@media (min-width: 1200px) {
    :root {
  /* --line-height-master: 1.25; */
  --font-size-title: 3.5rem;
  /* --font-size-sub-title: 2rem;
  --font-size-normal: 1.25rem; */
  /* --width-master: 85vw; */
  /* --margin-master: 0.5rem;
  --padding-master: 0.5rem;
  --gap-master: 0.75rem; */
  /* --content-size: 32rem; */
  }

    /* .card {
height: 33rem;
width: 25rem;
  flex-grow: 0;
} */
}
