@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Showcard Gothic";
  src: url("../assets/showcardGothicRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* ***** TABLE OF CONTENTS *********************************** */

/* ROOT/SHARED/GLOBAL */
/* -- COLORS AND EFFECTS*/
/* -- INITIAL SIZE KEY */
/* TEXT CLASSES */
/* -- MOUSE POINTER */
/* HEADER */
/* -- BUTTONS */
/* MAIN */
/* -- PROJECT CARDS */
/* FOOTER */
/* MEDIA QUERIES */

/* ***** TABLE OF CONTENTS *********************************** */

/* ROOT/SHARED/GLOBAL */
:root {
  /* COLORS AND EFFECTS*/

  --circle-red: #bd4949;
  --explosion-gold: #edbd58;
  --mug-blue: #898d9b;
  --hoodie-blue: #484662;
  --desk-brown: #4d4a47;
  --standard-black: #0b0806;
  --standard-white: #d1c5b6;
  --standard-white-trans: #d1c5b66a;
  --computer-grey: #808080;

  --box-shadow: 0 5px 10px var(--standard-black);
  --background-main: linear-gradient(
    var(--linear-gradient-deg),
    var(--standard-black),
    var(--hoodie-blue)
  );

  --background-header: linear-gradient(
    var(--linear-gradient-deg),
    var(--standard-black),
    var(--desk-brown)
  );

  --background-gold: linear-gradient(
    var(--linear-gradient-deg),
    var(--standard-black),
    var(--explosion-gold)
  );

  --background-hover-btn: linear-gradient(
    var(--linear-gradient-deg),
    var(--standard-black),
    var(--circle-red)
  );

  --glow: 0 0 30px var(--explosion-gold), 0 0 50px var(--explosion-gold);

  --font-title: "Showcard Gothic", sans-serif;
  --font-text: "Montserrat", sans-serif;
  --linear-gradient-deg: 5deg;
  --border-style: solid 0.5rem;
  --border-radius-master: 2rem;
  --scale-big: 1.125;
  --scale-small: 0.9;

  /* INITIAL SIZE KEY */

  --font-size-master: 14px; /* Initial Size: 14px */
  --line-height-master: 1.25; /* Initial: 1.25 */
  --font-size-title: 1.85rem; /* Initial Size: 1.85rem */
  --font-size-subtitle: 1.5rem; /* Initial Size: 1.5rem */
  --font-size-normal: 1rem; /* Initial Size: 1rem */
  --margin-master: 0.25rem; /* Initial Size: 0.25rem */
  --padding-master: 0.25rem; /* Initial Size: 0.25rem */
  --gap-master: 0.25rem; /* Initial Size: 0.25rem */
  --content-size: 22rem; /* Initial Size: 22rem */
  --container-size: 28rem; /* Initial Size: 28rem */
  --card-size: 28rem; /* Initial Size: 28rem */
  --img-title: 7rem; /* Initial Size: 7rem */
  --img-btn: 6rem; /* Initial Size: 6rem */
  --main-subtitle-div-height: 4rem; /* Initial Size: 3rem */ 
  --card-screenshot-size: 15rem; /* Initial Size: 15rem */
  --footer-icon-size: calc(
    var(--font-size-normal) + 2rem
  ); /* Initial Size: 3rem */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* CSS Reset for the following... */
h1,
h2,
h3,
p {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  font-size: inherit; /* Inherit font size from parent */
  font-weight: inherit; /* Inherit font weight from parent */
  line-height: inherit; /* Inherit line height from parent */
  text-align: inherit; /* Inherit text alignment from parent */
  color: inherit; /* Inherit text color from parent */
}

/* TEXT CLASSES */

.special-text {
  font-family: var(--font-title);
  font-size: var(--font-size-title);
  text-align: center;
}

.normal-text {
  color: var(--standard-white);
  font-family: var(--font-text);
  font-size: var(--font-size-normal);
}

/* MOUSE POINTER  */

button,
#content-img-big-div,
a {
  cursor: pointer;
}

html,
body {
  /* Below, reduces base font size for mobile, a convenient way to backdoor size changes easily, reduce for mobile views */
  background-color: var(--standard-black);
  font-size: var(--font-size-master);
  /* Improves text readability for mobile */
  line-height: var(--line-height-master);
}

/* HEADER */
header,
#header-title-div {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: var(--margin-master);
}

#header-title-text {
  color: var(--mug-blue);
}

#header-content-container {
  min-height: var(--container-size);
  max-width: var(--container-size);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: calc(var(--margin-master) + 0.5rem);
}

#content-img-big-div,
#content-text-title-div {
  min-height: var(--content-size);
  max-width: var(--content-size);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--background-header);
  border-radius: 50%;
}

#content-img-big-div {
  display: flex;
  transition: transform 0.5s ease;
}

#content-img-big-div:hover {
  background: var(--background-header);
  border-radius: 50%;
  box-shadow: var(--glow);
  transform: scale(var(--scale-big));
}

.img-big {
  height: auto;
  width: var(--content-size);
}

#img-full-MMM-reverse {
  display: flex;
}

#img-full-MMM {
  display: none;
}

/* Starts as display: none */
#content-text-title-div {
  display: none;
  align-items: center;
  justify-content: center;
}

#content-title-div {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--margin-master);
}

#content-title {
  color: var(--standard-white);
  font-family: var(--font-title);
  font-size: var(--font-size-subtitle);
}

#content-title-img {
  height: auto;
  width: var(--img-title);
}

#content-text,
#contact-info-div {
  width: var(--content-size);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-contact {
  height: auto;
  width: 2.125rem;
}

#contact-email {
  margin-bottom: 0.5rem;
}

#content-text {
  padding: 0 0.25rem 0 1rem;
}

/* BUTTONS */

#header-btn-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: var(--gap-master);
  padding: var(--padding-master);
}

button {
  height: fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--explosion-gold);
  border: var(--border-style);
  border-color: var(--standard-black);
  border-radius: 50%;
  font-family: var(--font-title);
  padding: var(--padding-master);
  transition: transform 0.5s ease;
}

button:hover {
  background: var(--background-hover-btn);
  border-color: var(--explosion-gold);
  box-shadow: var(--glow);
  transform: scale(var(--scale-big));
}

button:active {
  transform: scale(var(--scale-small));
}

/* Starts as display: none */
#btn-muffin {
  display: none;
}

.img-small {
  height: auto;
  width: var(--img-btn);
  margin: var(--margin-master);
}

#img-muffin {
  transition: transform 0.5s ease;
}

#img-mug {
  transform: translateX(0.375rem) translateY(0.05rem);
}

#img-phone {
  transition: transform 0.5s ease;
}

#img-muffin:hover {
  transform: rotate(-15deg);
}

#img-phone:hover {
  transform: rotate(45deg);
}

/* MAIN */

main {
  height: fit-content;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main-subtitle-div {
  height: var(--main-subtitle-div-height);
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: var(--background-header);
  text-align: center;
}

#main-subtitle-text {
  color: var(--standard-white);
  margin: var(--padding-master);
}

#main-content-container {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  background: var(--standard-black);
  margin-top: 1rem;
  padding: var(--gap-master);
}

/* PROJECT CARDS */

.card {
  min-height: var(--card-size);
  max-width: var(--card-size);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background: var(--background-main);
  border: var(--border-style);
  border-color: var(--standard-black);
  border-radius: var(--border-radius-master);
  color: var(--standard-white);
  padding: var(--padding-master);
}

.card-title {
  font-family: var(--font-title);
  font-size: var(--font-size-subtitle);
  padding: var(--padding-master);
}

a {
  color: var(--standard-white);
}

a:hover {
  text-shadow: var(--glow);
}

.card-screenshot {
  height: var(--card-screenshot-size);
  width: var(--card-screenshot-size);
  background-color: var(--computer-grey);
  border-radius: 0.75rem;
  margin: var(--margin-master);
  object-fit: cover;
}

.card-blurb {
  height: fit-content;
  width: fit-content;
  font-family: var(--font-text);
  font-size: var(--font-size-normal);
  margin: 1rem;
}

.card:hover {
  transition: transform 0.5s ease;
  transform: scale(1.05);
}

.card:hover a,
.card:hover .card-blurb {
  color: var(--explosion-gold);
}

/* FOOTER */

footer {
  margin: 1rem;
}

#footer-content-container {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-master);
  margin: auto;
  padding: var(--padding-master);
}

#img-footer-icon {
  height: auto;
  width: var(--footer-icon-size);
  margin: var(--margin-master);
}

#footer-text {
  color: var(--standard-white);
  font-family: var(--font-title);
  font-size: var(--font-size-normal);
  margin: var(--margin-master);
}

/* MEDIA QUERIES */

@media (min-width: 430px) {
  #main-subtitle-div {
    width: var(--card-size);
    border: var(--border-style);
    border-color: var(--standard-black);
    border-radius: var(--border-radius-master);
  }
}

@media (min-width: 500px) {
  :root {
    --font-size-master: 15px; /* Initial Size: 14px */
    --line-height-master: 1.5; /* Initial: 1.25 */
    --font-size-title: 2.25rem; /* Initial Size: 1.85rem */
  }
  .card:hover {
    background: none;
    border-color: var(--explosion-gold);
  }
}

@media (min-width: 650px) {
  :root {
    --font-size-master: 16px; /* Initial Size: 14px */
    --font-size-title: 2.85rem; /* Initial Size: 1.85rem */
    --font-size-subtitle: 1.75rem; /* Initial Size: 1.5rem */
    --font-size-normal: 1.125rem; /* Initial Size: 1rem */
    --margin-master: 0.75; /* Initial Size: 0.25rem */
    --padding-master: 0.75rem; /* Initial Size: 0.25rem */
    --gap-master: 0.75rem; /* Initial Size: 0.25rem */
    --content-size: 25.5rem; /* Initial Size: 22rem */
    --container-size: 30rem; /* Initial Size: 28rem */
    --card-size: 25.5rem; /* Initial Size: 28rem */
    --img-title: 8.5rem; /* Initial Size: 7rem */
    --img-btn: 7.5rem; /* Initial Size: 6rem */
    --main-subtitle-div-height: 5.5rem; /* Initial Size: 3rem */ 
    --card-screenshot-size: 17rem; /* Initial Size: 15rem */
    --footer-icon-size: calc(
      var(--font-size-normal) + 4rem
    ); /* Initial Size: 3rem */
  }
  #header-content-container {
    flex-direction: row;
    gap: var(--gap-master);
  }

  #header-btn-container {
    width: fit-content;
    flex-direction: column;
  }

  .card {
    height: calc(var(--card-size) + 8rem);
    width: var(--card-size);
  }
}

@media (min-width: 800px) {
  :root {
    --font-size-title: 3rem; /* Initial Size: 1.85rem */
    --main-subtitle-div-height: 6rem; /* Initial Size: 3rem */ 
  }

  #main-subtitle-div {
    width: var(--container-size);
  }
}

@media (min-width: 1000px) {
  :root {
    --font-size-title: 4rem; /* Initial Size: 1.85rem */
    --font-size-subtitle: 2rem; /* Initial Size: 1.5rem */
    --content-size: 28rem; /* Initial Size: 22rem */
    --container-size: 32rem; /* Initial Size: 28rem */
    --card-size: 28rem; /* Initial Size: 28rem */
    --img-title: 9rem; /* Initial Size: 7rem */
    --img-btn: 8rem; /* Initial Size: 6rem */
    --main-subtitle-div-height: 7.5rem; /* Initial Size: 3rem */ 
    --card-screenshot-size: 18rem; /* Initial Size: 15rem */
  }

  #main-subtitle-div {
    border-radius: 3rem;
  }

}
